# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.d
*.pcm

# Plots
*.root
*.pdf
*.png
*.jpeg
*.C
*.eps

# Text files
*.txt

# Directories
/Plots

# Run files
run_SS
run_OS

# Scripts
*/*.sh

run
__init__.py
